<div class="bg-white rounded-lg shadow-md p-2 flex items-center h-44 w-full mb-4 bg-blanco">
  <div class="flex flex-col justify-between items-center w-full">
    <div class="flex justify-center items-center bg-icon-bg rounded-full p-1 w-16 h-16">
      <mat-icon class="icono">
        {{ icono_name }}
      </mat-icon>
    </div>
    <p class="text-xl font-bold text-card-titulo flex-1 text-center">{{ title }}</p>
    <span class="text-sm text-center px-1 py-1 bg-gray-200 rounded-full">{{ description }}</span>
  </div>
</div>
